---
title: Homepage
permalink: /
layout: "layouts/base.html"
---

<div class="bg-solarBlue py-11">
	<div class="container px-3 mx-auto md:px-12">
		<div class="flex flex-col md:flex-row gap-8 xs:gap-10 items-center justify-between">
			<a href="/">
				<img src="/assets/img/logo-footer.png" class="max-h-10 md:max-h-12" alt="logo">
			</a>
			<ul class="flex flex-col xs:flex-row gap-5 xs:gap-8 text-center xs:text-left">
				<li class="text-[#fcfdfd] text-xs sm:text-sm font-montserrat underline">
					<a href="/">Terms of use</a>
				</li>
				<li class="text-[#fcfdfd] text-xs sm:text-sm font-montserrat underline">
					<a href="/">Privacy Policy</a>
				</li>
				<li class="text-[#fcfdfd] text-xs sm:text-sm font-montserrat">
					SolarCleanNY © 2022
				</li>
			</ul>
		</div>
	</div>
</div>
