---
title: Homepage
permalink: /
layout: "layouts/base.html"
---

<div class="absolute inset-x-auto top-0 z-30 w-full">
	<div class="container px-3 md:px-12 mx-auto py-12">
		<div class="flex justify-between gap-20 xl:gap-40 2xl:gap-64">
			<a href="/">
				<img src="/assets/img/logo-header.png" class="max-h-16 xl:max-h-20 2xl:max-h-24" alt="logo">
			</a>
			<div class="hidden lg:flex flex-col lg:flex-row items-center justify-between gap-5 xl:gap-16 w-full">
				<ul class="flex items-center gap-7 xl:gap-10">
					<li>
						<a href="/" class="block xl:text-lg text-solarBlack font-poppins">Solar O&M</a>
					</li>
					<li>
						<a href="/" class="block xl:text-lg text-solarBlack font-poppins">Vegetation Management</a>
					</li>
					<li>
						<a href="/" class="block xl:text-lg text-solarBlack font-poppins">Solar Site Cleanup</a>
					</li>
				</ul>
				<a href="/" class="button primary-blue">Contact Us</a>
			</div>
			<button class="block lg:hidden">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="w-8 h-8 text-black lg:h-10 lg:w-10"
					fill="none"
					viewBox="0 0 24 24"
					stroke="currentColor"
					stroke-width="2"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M4 6h16M4 12h16M4 18h16"
					/>
				</svg>
			</button>
		</div>
	</div>
</div>

<div class="bg-no-repeat bg-center bg-cover w-full relative pt-32 desk:pt-36 lg:pt-40" style="background-image: url('/assets/img/bg-hero.jpg')">
	<div class="absolute inset-0 bg-repeat" style="background-image: url('/assets/img/wave-pattern-small.png')"></div>
	<div class="container px-3 md:px-12 mx-auto z-20 relative pt-16 pb-72 sm:pb-64 lg:pb-72 xl:pb-40">
		<div class="flex flex-col lg:flex-row justify-between items-center gap-12 md:gap-16 desk:gap-20 lg:gap-0">
			<div class="w-full lg:w-[45%] xl:w-2/5">
				<div class="xl:pr-2 2xl:pr-0">
					<h1 class="font-black font-montserrat text-sutherlandBlack text-4xl desk:text-5xl 2xl:text-6xl desk:leading-[55px] 2xl:leading-[65px] uppercase mb-8 xl:mb-12">Complete <span class="text-solarBlue">Solar Farm</span> O&M and Site Maintenance</h1>
				</div>
				<p class="font-roboto text-solarBlack md:text-lg 2xl:text-xl pb-11 xl:pb-14">While low-maintenance, issues can still arise. If you are noticing lower than expected power production there is a good chance something is wrong with your system.</p>
				<a href="/" class="button primary-white">Our Services</a>
			</div>
			<div class="w-full lg:w-[45%] xl:w-2/5">
				<div class="grid grid-cols-2 gap-5">
					<div class="space-y-5">
						<div class="aspect-[276/169]">
							<img src="/assets/img/services-image.jpg" class="w-full h-full object-cover" alt="image">
						</div>
						<div class="aspect-[276/467]">
							<img src="/assets/img/hero-image.png" class="w-full h-full object-cover" alt="image">
						</div>
					</div>
					<div class="space-y-5">
						<div class="aspect-[276/442]">
							<img src="/assets/img/hero-image.png" class="w-full h-full object-cover" alt="image">
						</div>
						<div class="aspect-[276/194]">
							<img src="/assets/img/services-image.jpg" class="w-full h-full object-cover" alt="image">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="mx-3 xl:mx-8 2xl:mx-3 relative z-40">
	<div class="bg-solarBlue py-10 max-w-[1630px] mx-auto relative -mt-56 sm:-mt-44 xl:-mt-24">
		<div class="px-4 xs:px-20 sm:px-10 md:px-20 desk:px-36 xl:px-16 2xl:px-24 grid grid-cols-2 sm:grid-cols-3 xl:grid-cols-6 gap-10 md:gap-16 xl:gap-12 2xl:gap-20">
			<div class="text-center">
				<div class="h-9">
					<img src="/assets/img/icon-grass-white.svg" class="mx-auto max-h-9" alt="Icon Solar Farm Mowing">
				</div>
				<span class="text-white font-poppins 2xl:text-lg block mt-4">Solar Farm Mowing</span>
			</div>
			<div class="text-center">
				<div class="h-9">
					<img src="/assets/img/icon-maintenance-white.svg" class="mx-auto max-h-8" alt="Icon Operations & Maintenance">
				</div>
				<span class="text-white font-poppins 2xl:text-lg block mt-4">Operations & Maintenance</span>
			</div>
			<div class="text-center">
				<div class="h-9">
					<img src="/assets/img/icon-clean-white.svg" class="mx-auto max-h-9" alt="Icon Solar panel cleaning">
				</div>
				<span class="text-white font-poppins 2xl:text-lg block mt-4">Solar panel cleaning</span>
			</div>
			<div class="text-center">
				<div class="h-9">
					<img src="/assets/img/icon-fields-white.svg" class="mx-auto max-h-9" alt="Icon Vegetation management">
				</div>
				<span class="text-white font-poppins 2xl:text-lg block mt-4">Vegetation management</span>
			</div>
			<div class="text-center">
				<div class="h-9">
					<img src="/assets/img/icon-solar-panel-white.svg" class="mx-auto max-h-9" alt="Icon Tree maintenance & installation">
				</div>
				<span class="text-white font-poppins 2xl:text-lg block mt-4">Tree maintenance & installation</span>
			</div>
			<div class="text-center">
				<div class="h-9">
					<img src="/assets/img/icon-eco-energy-white.svg" class="mx-auto max-h-9" alt="Icon Site cleanup & maintenance">
				</div>
				<span class="text-white font-poppins 2xl:text-lg block mt-4">Site cleanup & maintenance</span>
			</div>
		</div>
	</div>
</div>

<div class="bg-[#f7f7f7] relative -mt-56 sm:-mt-44 xl:-mt-24">
	<div class="absolute inset-0 bg-repeat" style="background-image: url('/assets/img/wave-pattern-small.png')"></div>
	<div class="mx-3 xl:mx-8 2xl:mx-3 pt-56 sm:pt-44 xl:pt-24 relative z-20">
		<div class="max-w-[1630px] mx-auto pt-24">
			<div class="text-center mb-10 xs:mb-20">
				<h4 class="text-solarBlack font-montserrat font-black text-3xl border-b-4 border-solarBlack inline-block px-10 uppercase">Our Services</h4>
			</div>
			<div>
				<div class="bg-[#f0f0f0] p-6 xs:p-14 desk:p-24 mb-3">
					<div class="flex flex-col lg:flex-row justify-between items-center gap-12 lg:gap-0">
						<div class="lg:w-[45%] 2xl:w-2/5">
							<h2 class="text-solarBlack text-2xl xs:text-3xl sm:text-4xl xl:text-5xl font-montserrat font-black uppercase mb-6 xs:mb-8 xl:mb-12">Solar Farm O&M Support Services </h2>
							<p class="font-roboto text-solarBlack md:text-lg 2xl:text-xl pb-6 xs:pb-11 xl:pb-14">Supporting systems include protocols for efficiently running O&M operations, such as quality assurance systems, development of a comprehensive knowledge-base to assist with diagnosis of similar issues, and field tracking and measurement. </p>
							<div class="flex flex-col gap-3 mb-7 xs:mb-11 md:mb-14">
								<div class="flex gap-5 items-center">
									<div>
										<img src="/assets/img/icon-clean.svg" class="h-6" alt="icon clean">
									</div>
									<span class="font-roboto font-bold xs:text-lg lg:text-xl xl:text-[22px] text-solarBlack">Panel cleaning</span>
								</div>
								<div class="flex gap-5 items-center">
									<div>
										<img src="/assets/img/icon-maintenance.svg" class="h-6" alt="icon maintenance">
									</div>
									<span class="font-roboto font-bold xs:text-lg lg:text-xl xl:text-[22px] text-solarBlack">Operations and management</span>
								</div>
								<div class="flex gap-5 items-center">
									<div>
										<img src="/assets/img/icon-grass.svg" class="h-6" alt="icon grass">
									</div>
									<span class="font-roboto font-bold xs:text-lg lg:text-xl xl:text-[22px] text-solarBlack">Mowing and vegetation control</span>
								</div>
							</div>
							<a href="/" class="flex items-center gap-4 font-poppins font-bold text-solarBlack text-lg xl:text-[22px] uppercase underline pb-1">
								<img src="/assets/img/icon-right-arrow.png" class="h-4" alt="icon">
								Learn More</a>
						</div>
						<div class="lg:w-1/2 2xl:max-w-[640px]">
							<div class="aspect-[640/521] shadow-small md:shadow-wide">
								<img src="/assets/img/services-image.jpg" class="h-full w-full object-cover" alt="image">
							</div>
						</div>
					</div>
				</div>
				<div class="bg-[#f0f0f0] p-6 xs:p-14 desk:p-24 mb-3">
					<div class="flex flex-col lg:flex-row-reverse justify-between items-center gap-12 lg:gap-0">
						<div class="lg:w-[45%] 2xl:w-2/5">
							<h2 class="text-solarBlack text-2xl xs:text-3xl sm:text-4xl xl:text-5xl font-montserrat font-black uppercase mb-6 xs:mb-8 xl:mb-12">Vegetation Management</h2>
							<p class="font-roboto text-solarBlack md:text-lg 2xl:text-xl pb-6 xs:pb-11 xl:pb-14">Effective vegetation management is important for solar farms. Tall weeds growing around solar installations can create shading that reduces the functionality of the system. A vegetation management program combining herbicides with mechanical methods help provide effective vegetation control.</p>
							<div class="flex flex-col gap-3 mb-7 xs:mb-11 md:mb-14">
								<div class="flex gap-5 items-center">
									<div>
										<img src="/assets/img/icon-bushes.svg" class="h-6" alt="icon bushes">
									</div>
									<span class="font-roboto font-bold xs:text-lg lg:text-xl xl:text-[22px] text-solarBlack">Brush Hog Mowing</span>
								</div>
								<div class="flex gap-5 items-center">
									<div>
										<img src="/assets/img/icon-solar-panel.svg" class="h-6" alt="icon solar panel">
									</div>
									<span class="font-roboto font-bold xs:text-lg lg:text-xl xl:text-[22px] text-solarBlack">Solar Array Mowing</span>
								</div>
								<div class="flex gap-5 items-center">
									<div>
										<img src="/assets/img/icon-trees.svg" class="h-6" alt="icon trees">
									</div>
									<span class="font-roboto font-bold xs:text-lg lg:text-xl xl:text-[22px] text-solarBlack">Trees and shrubs - installation and maintenance</span>
								</div>
								<div class="flex gap-5 items-center">
									<div>
										<img src="/assets/img/icon-fields.svg" class="h-6" alt="icon fields">
									</div>
									<span class="font-roboto font-bold xs:text-lg lg:text-xl xl:text-[22px] text-solarBlack">Land clearing</span>
								</div>
							</div>
							<a href="/" class="flex items-center gap-4 font-poppins font-bold text-solarBlack text-lg xl:text-[22px] uppercase underline pb-1">
								<img src="/assets/img/icon-right-arrow.png" class="h-4" alt="icon">
								Learn More</a>
						</div>
						<div class="lg:w-1/2 2xl:max-w-[640px]">
							<div class="aspect-[640/521] shadow-small md:shadow-wide">
								<img src="/assets/img/services-image.jpg" class="h-full w-full object-cover" alt="image">
							</div>
						</div>
					</div>
				</div>
				<div class="bg-[#f0f0f0] p-6 xs:p-14 desk:p-24">
					<div class="flex flex-col lg:flex-row justify-between items-center gap-12 lg:gap-0">
						<div class="lg:w-[45%] 2xl:w-2/5">
							<h2 class="text-solarBlack text-2xl xs:text-3xl sm:text-4xl xl:text-5xl font-montserrat font-black uppercase mb-6 xs:mb-8 xl:mb-12">Solar Farm Site Cleanup & Repair</h2>
							<p class="font-roboto text-solarBlack md:text-lg 2xl:text-xl pb-6 xs:pb-11 xl:pb-14">According to the different sources you can consult, the performance of dirty photovoltaic panels and trackers down up to 20% compared to a solar panel on the next panel that has been cleaned beforehand. Maintenance and the cleaning of solar panels is a priority issue to be addressed before starting any renewable energy project.</p>
							<div class="flex flex-col gap-3 mb-7 xs:mb-11 md:mb-14">
								<div class="flex gap-5 items-center">
									<div>
										<img src="/assets/img/icon-solar-panel.svg" class="h-6" alt="icon solar panel">
									</div>
									<span class="font-roboto font-bold xs:text-lg lg:text-xl xl:text-[22px] text-solarBlack">Land debris removal</span>
								</div>
								<div class="flex gap-5 items-center">
									<div>
										<img src="/assets/img/icon-maintenance.svg" class="h-6" alt="icon maintenance">
									</div>
									<span class="font-roboto font-bold xs:text-lg lg:text-xl xl:text-[22px] text-solarBlack">Corrective maintenance</span>
								</div>
							</div>
							<a href="/" class="flex items-center gap-4 font-poppins font-bold text-solarBlack text-lg xl:text-[22px] uppercase underline pb-1">
								<img src="/assets/img/icon-right-arrow.png" class="h-4" alt="icon">
								Learn More</a>
						</div>
						<div class="lg:w-1/2 2xl:max-w-[640px]">
							<div class="aspect-[640/521] shadow-small md:shadow-wide">
								<img src="/assets/img/services-image.jpg" class="h-full w-full object-cover" alt="image">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="relative z-20">
		<div class="absolute bottom-0 inset-x-0">
			<img src="/assets/img/bg-footer.png" alt="background image CTA">
		</div>
		<div class="container px-3 md:px-12 mx-auto mt-24 pb-48 xs:pb-64 md:pb-80 desk:pb-[22rem] lg:pb-96 2xl:pb-[36rem] z-20 relative">
			<div class="flex flex-col lg:flex-row justify-between">
				<form class="lg:w-3/5 xl:w-1/2 bg-white py-10 2xl:py-14 px-4 xs:px-6 md:px-12 2xl:px-16 border-[9px] border-solarBlack">
					<div class="pb-11 pt-4 text-center">
						<h4 class="font-black font-montserrat text-solarBlack text-lg">Send Us a Quick Message!</h4>
					</div>
					<div class="flex flex-col xs:flex-row gap-6 xs:gap-9">
						<div class="xs:w-1/2">
							<label class="block text-sm font-montserrat text-solarBlack pb-3 xs:pb-4 uppercase">First Name*</label>
							<input type="text" class="block rounded border border-[#ededed] w-full text-solarBlack px-3.5 py-3.5">
						</div>
						<div class="xs:w-1/2">
							<label class="block text-sm font-montserrat text-solarBlack pb-3 xs:pb-4 uppercase">Last Name*</label>
							<input type="text" class="block rounded border border-[#ededed] w-full text-solarBlack px-3.5 py-3.5">
						</div>
					</div>
					<div class="flex flex-col gap-6 pt-6">
						<div class="">
							<label class="block text-sm font-montserrat text-solarBlack pb-3 xs:pb-4 uppercase">Email Address*</label>
							<input type="text" class="block rounded border border-[#ededed] w-full text-solarBlack px-3.5 py-3.5">
						</div>
						<div>
							<label class="block text-sm font-montserrat text-[#151515] pb-3 xs:pb-4 uppercase">Message*</label>
						<textarea id="message" cols="30" rows="5" class="block rounded border border-[#ededed] w-full text-solarBlack px-3.5 py-3.5"></textarea>
						</div>
					</div>
					<div class="flex justify-end pt-8 xs:pt-10 2xl:pt-12">
						<button class="button primary-blue">Send Message</button>
					</div>
				</form>
				<div class="lg:w-[35%] xl:w-2/5">
					<div class="text-center mt-16 mb-12 lg:mb-20">
						<h4 class="text-solarBlack font-montserrat font-black text-3xl border-b-4 border-solarBlack inline-block px-10 uppercase">Contact Info</h4>
					</div>
					<div class="flex flex-col gap-14">
						<span class="block text-center">
							<span class="block font-montserrat text-solarBlack/50 mb-3">Call us at:</span>
							<a href="tel:(585) 880-3585" class="font-montserrat font-bold text-[22px]">(585) 880-3585</a>
						</span>
						<span class="block text-center">
							<span class="block font-montserrat text-solarBlack/50 mb-3">Or send a mail to:</span>
							<a href="mailto:mike@solarcleanny.com " class="font-montserrat font-bold text-[22px]">mike@solarcleanny.com </a>
						</span>
						<span class="block text-center">
							<span class="block font-montserrat text-solarBlack/50 mb-3">Area of service:</span>
							<a href="/" class="font-montserrat font-bold text-[22px] inline-flex items-center gap-3">
								<div>
									<img src="/assets/img/icon-pin.svg" class="h-5" alt="icon">
								</div>
								Western NY</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="bg-solarBlue py-11">
	<div class="container px-3 mx-auto md:px-12">
		<div class="flex flex-col md:flex-row gap-8 xs:gap-10 items-center justify-between">
			<a href="/">
				<img src="/assets/img/logo-footer.png" class="max-h-10 md:max-h-12" alt="logo">
			</a>
			<ul class="flex flex-col xs:flex-row gap-5 xs:gap-8 text-center xs:text-left">
				<li class="text-[#fcfdfd] text-xs sm:text-sm font-montserrat underline">
					<a href="/">Terms of use</a>
				</li>
				<li class="text-[#fcfdfd] text-xs sm:text-sm font-montserrat underline">
					<a href="/">Privacy Policy</a>
				</li>
				<li class="text-[#fcfdfd] text-xs sm:text-sm font-montserrat">
					SolarCleanNY © 2022
				</li>
			</ul>
		</div>
	</div>
</div>
